
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="/pluto/images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/pluto/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="/pluto/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="/pluto/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="/pluto/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="/pluto/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="/pluto/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="/pluto/css/custom.css" />
    <!-- calendar file css -->
    <link rel="stylesheet" href="/pluto/js/semantic.min.css" />
    <!-- fancy box js -->
    <link rel="stylesheet" href="/pluto/css/jquery.fancybox.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="inner_page email_page">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                        <div class="logo_section">
                            <a href="index.html"><img class="logo_icon img-responsive" src="/pluto/images/logo/logo_icon.png" alt="#" /></a>
                        </div>
                    </div>
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            <div class="user_img"><img class="img-responsive" src="/pluto/images/layout_img/user_img.jpg" alt="#" /></div>
                            <div class="user_info">
                                <h6>@User.Identity.Name</h6>
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <h4>Mühendis</h4>
                    <ul class="list-unstyled components">
                        <li class="active">
                            <a href="#dashboard"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>

                        </li>
                        <li><a href="widgets.html"><i class="fa fa-clock-o orange_color"></i> <span>Profilim</span></a></li>
                        <li>
                            <a href="/Admin/Index"><i class="fa fa-diamond purple_color"></i> <span>Yolcu Listesi</span></a>
                            
                        </li>

                        <li><a href="/Admin/Contact"><i class="fa fa-paper-plane red_color"></i> <span>İletişim</span></a></li>
                        <li><a href="/Admin/SettingProfile"><i class="fa fa-cog yellow_color"></i> <span>Ayarlar</span></a></li>
                        <li><a href="/Home/Index"><i class="fa fa-map purple_color2"></i> <span>Siteye Git</span></a></li>
                        <li><a href="/account/logout"><i class="fa fa-clone yellow_color"></i> <span>Çıkış Yap</span></a></li>
                    </ul>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                            <div class="logo_section">
                                <a href="index.html"><img class="img-responsive" src="/pluto/images/logo/logo.png" alt="#" /></a>
                            </div>
                            <div class="right_topbar">
                                <div class="icon_info">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">12</span></a></li>
                                        <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                                    </ul>
                                    <ul class="user_profile_dd">
                                        <li>
                                            <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="/pluto/images/layout_img/user_img.jpg" alt="#" /><span class="name_user">@User.Identity.Name</span></a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="profile.html">Profilim</a>
                                                <a class="dropdown-item" href="settings.html">Ayarlar</a>
                                                <a class="dropdown-item" href="help.html">Yardım</a>
                                                <a class="dropdown-item" href="/account/logout"><span>Çıkış Yap</span> <i class="fa fa-sign-out"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- end topbar -->
                <!-- dashboard inner -->
                <!-- end dashboard inner -->
               @RenderBody();
            </div>
        </div>
        <!-- model popup -->
    </div>



    <!-- jQuery -->
    <script src="/pluto/js/jquery.min.js"></script>
    <script src="/pluto/js/popper.min.js"></script>
    <script src="/pluto/js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="/pluto/js/animate.js"></script>
    <!-- select country -->
    <script src="/pluto/js/bootstrap-select.js"></script>
    <!-- owl carousel -->
    <script src="/pluto/js/owl.carousel.js"></script>
    <!-- chart js -->
    <script src="/pluto/js/Chart.min.js"></script>
    <script src="/pluto/js/Chart.bundle.min.js"></script>
    <script src="/pluto/js/utils.js"></script>
    <script src="/pluto/js/analyser.js"></script>
    <!-- nice scrollbar -->
    <script src="/pluto/js/perfect-scrollbar.min.js"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <!-- fancy box js -->
    <script src="/pluto/js/jquery-3.3.1.min.js"></script>
    <script src="/pluto/js/jquery.fancybox.min.js"></script>
    <!-- custom js -->
    <script src="/pluto/js/custom.js"></script>
    <!-- calendar file css -->
    <script src="/pluto/js/semantic.min.js"></script>
</body>
</html>