@model List<City>


<div class="container">
    <div class="row">
        <div class="col-sm-4 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="~/img/s1ankara.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ankara</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="~/img/s1istanbul.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">İstanbul</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div> <div class="col-sm-4 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="~/img/s3izmit.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">İzmit</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div> <div class="col-sm-4 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="~/img/s1bursa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bursa</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div> <div class="col-sm-4 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="~/img/s1eskişehir.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Eskişehir</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div> <div class="col-sm-4 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="~/img/s1maraş.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kahramanmaraş</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div> <div class="col-sm-4 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="~/img/s1gazi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gaziantep</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div> <div class="col-sm-4 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="~/img/s1urfa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Şanlıurfa</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div> <div class="col-sm-4 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="~/img/s1mardin.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mardin</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>