@model ResetPasswordModel
<h6 class="display-4">Login</h6>
<hr />
<form asp-controller="Account" asp-action="ResetPassword" method="post">
    <div class="row">
        
        <div class="col-md-6">
            <div asp-validation-summary="All" class="text-danger">
                <input type="hidden" asp-for="Token"/>
                <div class="form-group row mb-2">
                    <div class="col-sm-3">
                        <label asp-for="Email" class="col-form-label"></label>
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="Email" type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <div class="col-sm-3">
                        <label asp-for="Password" type="text" class="col-form-label">Şifre</label>
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="Password" type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <div class="col-sm-9 offset-sm-3">
                        <button class="btn btn-primary">Giriş Yap</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>